@use "theme";


@keyframes btnanim {
    0% {
        background: linear-gradient(to right, red, yellow);
    }
    100% {
        background: linear-gradient(to right, yellow, red);
    }
}

.reg_shadow {
    box-shadow: -1px 1px 5px .1px rgb(26, 32, 36 , .32) , 0px 0px 2px 0px rgb(91, 104, 113 , .32) ;
}

.icon_shadow {
    box-shadow: 0px 10px 30px 15px rgb(0, 0, 0, .03);
}

.flex_w_btn {
    display : flex;
    align-items: center;
    min-width: 20px;
}
.border {
    border: 0;
}


//BUTTONS

.lego_btn {
    @extend .border;
    padding : 6px 12px;
    border-radius: 5px;
    @extend .reg_shadow;
    @extend .flex_w_btn;
}

.subsub_btn {
    @extend .border;
    padding : 8px;
    border-radius: 9999px;
    @extend .flex_w_btn;
}

.pur_btn {
    @extend .border;
    padding : 8px;
    border-radius: 5px;
    @extend .reg_shadow;
    @extend .flex_w_btn;
}

// ANIMATION FOR BUTTON
.animate {
    animation: btnanim 2s ease-in;
}

.cat_btn {
    @extend .border;
    padding : 6px 10px;
    border-radius: 9999px;
    @extend .flex_w_btn;
}

.prod_btn {
    @extend .border;
    padding : 6px 10px;
    border-radius: 9999px;
    @extend .flex_w_btn;
}

.subcat_btn {
    @extend .border;
    padding : 4px 8px;
    border-radius: 9999px;
    @extend .flex_w_btn;
}
.search_btn {
    @extend .border;
    padding : 8px 16px;
    border-radius: 8px;
    @extend .reg_shadow;
    @extend .flex_w_btn;
}


//TABLET SCREEN SIZE

@media only screen and (min-width : 768px) {
    .pur_btn {
        padding : 8px 16px;
    }
    .cat_btn {
        border-radius: 9999px;
    }
    .prod_btn {
        border-radius: 9999px;
    }
    .subcat_btn {
        padding : 6px 10px;
        border-radius: 9999px;;
    }
}

//DESKTOP SCREEN SIZE

@media only screen and (min-width : 1440px) {
    .pur_btn {
        padding : 8px 16px;
    }
    .pur_btn:hover {
        transform: scale(1.1);
        transition: .1s ease-out;
    }
    .subcat_btn {
        padding : 6px 10px;
        border-radius: 9999px;
    }
    .cat_btn {
        border-radius: 9999px;
    }
    .prod_btn {
        padding : 6px 12px;
        border-radius: 9999px;
    }
    .search_btn:hover {
        opacity: 70%;
    }
}