@use "theme";

.mainkonga {
    @extend .white_col;
    overflow : hidden;
    max-height : -webkit-fill-available;
    height : 100dvh;
    position : relative;
}

.newdude{
    height : 94%
}

.cat {
    @extend .white_col;
    height : 99%;
}

@media only screen and (min-width : 1700px) {
    .cat {
        height : 100%;
    }
    
}