$style : Arial, Helvetica, sans-serif;
$s_bold : 800;
$regular : 400;
$medium : 500;
$l_spacing : 0.05rem;

.text {
    font-family: $style;
    font-weight: $regular;
    font-size: 12px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_semibold {
    font-family: $style;
    font-weight: $s_bold;
    font-size: 12px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_title {
    font-family: $style;
    font-weight: $s_bold;
    font-size: 12px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_italic {
    font-style: italic;
    font-size: 12px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

.name_title {
    font-family: $style;
    font-weight: $medium;
    font-size: 24px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

.card_title {
    font-family: $style;
    font-weight: $s_bold;
    font-size: 20px;
    line-height : auto;
    font-weight: $s_bold;
    letter-spacing: $l_spacing;
}

.project_title {
    font-family: $style;
    font-weight: $medium;
    font-size: 20px;
    line-height : auto;
    letter-spacing: $l_spacing;
}

@media only screen and (min-width : 768px) {
    .text {
        font-family: $style;
        font-weight: $regular;
        font-size: 16px;
        line-height : auto;
    }

    .text_semibold {
        font-family: $style;
        font-weight: $s_bold;
        font-size: 16px;
        line-height : auto;
    }
    
    .text_title {
        font-family: $style;
        font-weight: $s_bold;
        font-size: 16px;
        line-height : auto;
    }
    
    .text_italic {
        font-style: italic;
        font-size: 16px;
        line-height : 24px;
    }
    
    .name_title {
        font-family: $style;
        font-weight: $medium;
        font-size: 32px;
        line-height : auto;
    }
    
    .card_title {
        font-family: $style;
        font-weight: $s_bold;
        font-size: 24px;
        line-height : auto;
        font-weight: $s_bold;
    }
    
    .project_title {
        font-family: $style;
        font-weight: $medium;
        font-size: 24px;
        line-height : auto;
    }
}

