$style : Arial, Helvetica, sans-serif;
$s_bold : 800;
$regular : 400;
$medium : 500;
$l_spacing : 0.05rem;

@use "sass:math";

@function torem ($pixels) {
    $result : (math.div($pixels, 16)*1rem);
    @return $result;
}

.text {
    font-family: $style;
    font-weight: $regular;
    font-size: torem(12);
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_semibold {
    font-family: $style;
    font-weight: $s_bold;
    font-size: torem(12);
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_title {
    font-family: $style;
    font-weight: $s_bold;
    font-size: torem(12);
    line-height : auto;
    letter-spacing: $l_spacing;
}

.text_italic {
    font-style: italic;
    font-size: torem(12);
    line-height : auto;
    letter-spacing: $l_spacing;
}

.name_title {
    font-family: $style;
    font-weight: $medium;
    font-size: torem(24);
    line-height : auto;
    letter-spacing: $l_spacing;
}

.card_title {
    font-family: $style;
    font-weight: $s_bold;
    font-size: torem(20);
    line-height : auto;
    font-weight: $s_bold;
    letter-spacing: $l_spacing;
}

.project_title {
    font-family: $style;
    font-weight: $medium;
    font-size: torem(20);
    line-height : auto;
    letter-spacing: $l_spacing;
}

@media only screen and (min-width : 768px) {
    .text {
        font-family: $style;
        font-weight: $regular;
        font-size: torem(16);
        line-height : auto;
    }

    .text_semibold {
        font-family: $style;
        font-weight: $s_bold;
        font-size: torem(16);
        line-height : auto;
    }
    
    .text_title {
        font-family: $style;
        font-weight: $s_bold;
        font-size: torem(16);
        line-height : auto;
    }
    
    .text_italic {
        font-style: italic;
        font-size: torem(16);
        line-height : torem (24);
    }
    
    .name_title {
        font-family: $style;
        font-weight: $medium;
        font-size: torem(32);
        line-height : auto;
    }
    
    .card_title {
        font-family: $style;
        font-weight: $s_bold;
        font-size: torem(24);
        line-height : auto;
        font-weight: $s_bold;
    }
    
    .project_title {
        font-family: $style;
        font-weight: $medium;
        font-size: torem(24);
        line-height : auto;
    }
}

