
// FOR NAVBAR MOBILE FOOTER
.navbar {
    min-height : 50px;
}

.slidediv {
    transition: .2s ease-out;
}

.venlogo {
    background : url(../src/PICTURES/konga_mobile.jpg) no-repeat;
}

// TABLET SCREEN SIZE
@media only screen and (min-width : 768px) {
    .venlogo {
        background : url(../src/PICTURES/konga_tablet.jpg) no-repeat;
    }
}

// DESKTOP SCREEN SIZE
@media only screen and (min-width : 1440px) {
    .venlogo {
        background : url(../src/PICTURES/konga_desktop.jpg) no-repeat;
    }
}
