$black : #000000 ;
$white : #ECEDFF;
$blue : #1F4EA9;
$card_col : #6C6C6C;

.black {
    color: $black;
}

.white {
    color : $white;
}

.blue {
    color : $blue;
}

.theme_col {
    background-color: $black;
}

.white_col {
    background-color: $white;
}

.blue_col {
    background-color: $blue;
}

.card_col {
    background : rgba($color: $card_col, $alpha: 0.3);
}
