$theme_col : #FF5B00;
$cat_col : #EB00FF;
$subcat_col : #00B2FF;
$d_grey : #6E7C87;
$black : #252C32;
$white : #FFFFFF;
$white_dark : #000;
$clickbtn : #CACACA;
$unclickbtn : #F1F2F4;
$specs : #0090D8;
$section : #F6F8F9;
$section_dark : #212121;


// FOR SUBCAT MOBILE HEADER
.nohighlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input:focus {
    outline-color: $theme_col;
}

.input::selection {
    background: $theme_col; /* WebKit/Blink Browsers */
}


.input::-moz-selection {
    background: $theme_col; /* Gecko Browsers */
}

//LIGHT AND DARK MODE COLOURS
.section_col {
    background-color: $section;
    @extend .nohighlight;
}

.theme_col {
    background-color: $theme_col;
    @extend .nohighlight;
}

.cat_col {
    background-color: $cat_col;
    @extend .nohighlight;
}
.black_col {
    background-color: $black;
    @extend .nohighlight;
}

.icon_col {
    background-color: $white;
    @extend .nohighlight;
}

.subcat_col {
    background-color: $subcat_col;
    @extend .nohighlight;
}
.dgrey_col {
    background-color: $d_grey;
    @extend .nohighlight;
}

.white_col {
    background-color: $white;
    @extend .nohighlight;
}

.click_col {
    background-color: $clickbtn;
    @extend .nohighlight;
}

.unclick_col{
    background-color: $unclickbtn;
    @extend .nohighlight;
}

.white {
    color: $white;
}

.black {
    color : $black;
}

.grey {
    color : $d_grey;
}

.theme {
    color : #FF5B00;
}

.specs {
    color : $specs;
}
.loadingsvg {
    color : $theme_col;
}

@mixin dark_mode {
    .section_col {
        background-color: $section_dark;
    }
    .white_col {
        background-color: $white_dark;
    }
    .black {
        color : $white;
    }
    .input {
        background-color: $white_dark;
    }
    .icon_col {
        background-color: $black;
    }
}

.dark_mode {
    @include dark_mode();
}


@media (prefers-color-scheme : dark) {
    body {
        @include dark_mode();
    }
}

.searcheddiv ::-webkit-scrollbar {
    display: none;
}